* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Kumbh Sans", sans-serif;
    background-color: #19a2ae;;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}

body::before,
body::after {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.bg-circle-left {
    border-radius: 50%;
    background-color: #19a2ae;
    background: linear-gradient(135deg, #0989B400, #53FFEE);
    opacity: 50%;
    position: absolute;
    z-index: -1;
    top: -711.84px;
    left: -486.84px;
}

.bg-circle-right {

}

.bg-circle-left, 
.bg-circle-right {
    position: fixed;
    width: 978px;
    height: 978px;
}

.user-card {
    max-width: 350px;
    height: 374px;
    background-color: white;
    border: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 50px 100px #08465E40;
    position: relative;
    z-index: 100;
}

.profile-background {
    width: 350px;
    height: 144px;
    background-image: url(./media/background.svg);
}

.avatar {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 5px solid white;
    object-fit: cover;
    position: absolute;
    top: 95px;
    left: 50%;
    transform: translateX(-50%);
}

/* .oval-row-1 {
    width: 29.6px;
    height: 29.6px;
    background-color: blueviolet;
    border-radius: 50%;
    display: flex;
    justify-content: space-between;
} */

.user-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    line-height: 125%;
}

.user-name {
    font-weight: 700;
    text-align: right;
    padding-right: 10px;
    grid-column: 1 / 3;
    grid-row: 1;
}

.user-age {
    font-weight: 400;
    text-align: left;
    grid-column: 3 / 4;
    grid-row: 1;
}

.user-city {
    font-size: 14px;
    color: #6B7082;
    text-align: center;
    grid-column: 1 / 4;
    grid-row: 2;
    padding-top: 8px;
}

.user-stats {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    display: flex;
    border-top: 1px solid #E8E9EC;
    justify-content: space-around; 
    padding: 24px 0;
    margin-top: 24px;
}

.user-followers, .user-likes, .user-photos {
    display: flex;
    flex-direction: column;
    line-height: 125%;
    text-align: center;
}

.user-stats-number {
    font-size: 18px;
    font-weight: 700;

}

.user-stats-type {
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: #6B7082;
}


